@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a
{
  color:rgb(255, 37, 146)!important;
}

.brand-logo
{
  font-family: 'Grand Hotel',cursive;
}

.card
{
width: 80vh;
margin: 3vh auto;
padding: 2rem;
box-shadow: 0 0 10px rgba(0,0,0,.1);
border-radius: .25em;

}
.signup-card{
  margin-top: 30px;
  padding: 20px;
  overflow:hidden;
  height: 90%;
  width: 75%;
  border: 10px solid whitesmoke;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,.1);
  height: 87vh;
  background-image: url('https://i.pinimg.com/564x/6a/60/c4/6a60c4dc191f50508fc0165c1fa48b81.jpg');
  margin: 10px auto;
}
.authcard{
  padding: 10px;
  text-align: center;
  max-width: 400px;
  height: 60vh;
  margin: 10px auto;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid rgb(255, 37, 146) !important;
  box-shadow: 0 1px 0 0 rgb(255, 37, 146)  !important;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid rgb(255, 37, 146) !important;
  box-shadow: 0 1px 0 0 rgb(255, 37, 146)  !important;
}

.gallery
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile-img
{
 margin-top: 4px;
}

.card
{
  width: 700px;
  height: max-content;
}

.home-card{
  margin:26px auto;
  max-width: 800px;
  text-align: start;
}




